{% extends 'base.html' %}
{% block title %}Home {% endblock title %}Home 
{% block body %}
{% load static %}
<style>
  .ml11 {
    font-weight: 700;
    font-size: 3.5em;
  }
  
  .ml11 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml11 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
  }
  
  .ml11 .line1 { 
    top: 0; 
    left: 0;
  }
  
  .ml11 .letter {
    display: inline-block;
    line-height: 1em;
  }
  
</style>




{% comment %} <h1 class="ml11 mb-4 pt-40 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl lg:text-4xl text-center">
  <span class="text-wrapper">
    <span class="line line1"></span>
    TECHNOLOGY <span class="letters">ENVIRONMENT</span> SOCIETY
  </span>
</h1> {% endcomment %}

<!-- Add the required JavaScript for the animation -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script>
  // Wrap every letter in a span
  var textWrapper = document.querySelector('.ml11 .letters');
  textWrapper.innerHTML = textWrapper.textContent.replace(/([^\x00-\x80]|\w)/g, "<span class='letter'>$&</span>");

  anime.timeline({loop: true})
    .add({
      targets: '.ml11 .line',
      scaleY: [0,1],
      opacity: [0.5,1],
      easing: "easeOutExpo",
      duration: 700
    })
    .add({
      targets: '.ml11 .line',
      translateX: [0, document.querySelector('.ml11 .letters').getBoundingClientRect().width + 10],
      easing: "easeOutExpo",
      duration: 700,
      delay: 100
    }).add({
      targets: '.ml11 .letter',
      opacity: [0,1],
      easing: "easeOutExpo",
      duration: 600,
      offset: '-=775',
      delay: (el, i) => 34 * (i+1)
    }).add({
      targets: '.ml11',
      opacity: 0,
      duration: 1000,
      easing: "easeOutExpo",
      delay: 1000
    });
</script>





{% comment %} carousel {% endcomment %}

 {% comment %} <div id="default-carousel" class="relative w-full" data-carousel="slide" data-ride="carousel" data-interval="3000">
    <!-- Carousel wrapper -->
    <div class="relative h-100 overflow-hidden rounded-lg md:h-96">
      <!-- Item 1 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="{% static 'images/DSC_0058.jpg' %}" class="absolute object-cover object-center w-full h-full" alt="...">
      </div>
      <!-- Item 2 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="{% static 'images/DSC_0058.jpg' %}" class="absolute object-cover object-center w-full h-full"alt="...">
      </div>
      <!-- Item 3 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="{% static 'images/DSC_0058.jpg' %}" class="absolute object-cover object-center w-full h-full"alt="...">
      </div>
      <!-- Item 4 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="{% static 'images/DSC_0058.jpg' %}"class="absolute object-cover object-center w-full h-full" alt="...">
      </div>
      <!-- Item 5 -->
      <div class="hidden duration-700 ease-in-out" data-carousel-item>
        <img src="{% static 'images/DSC_0058.jpg' %}"class="absolute object-cover object-center w-full h-full" alt="...">
      </div>
    </div>
    <!-- Slider indicators -->
    <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
      <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
      <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
    </div>
    <!-- Slider controls -->
    <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
      <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
        <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
        </svg>
        <span class="sr-only">Previous</span>
      </span>
    </button>
    <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
      <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
        <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
        </svg>
        <span class="sr-only">Next</span>
      </span>
    </button>
</div>   {% endcomment %}





    <!-- Carousel Start -->
    <div class="container-fluid p-0 pb-5">
      <div class="owl-carousel header-carousel position-relative mb-5">
          <div class="owl-carousel-item position-relative">
              <img class="img-fluid" src="{% static 'banner1.avif' %}" alt="">
              <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(6, 3, 21, .5);">
                  <div class="container">
                      <div class="row justify-content-start">
                          <div class="col-10 col-lg-8">
                              <h1 class="display-3 text-white animated slideInDown mb-4">TECHNOLOGY <span style="color:#66FF00;">ENVIRONMENT</span> SOCIETY</h1>
                             
                              <button style="color : #89CFF0 ;" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">
                                <a href="{% url 'photo:subscribe'%}"  class="">
                                  Get Updates
                                </a>
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="owl-carousel-item position-relative">
              <img class="img-fluid" src="{% static 'banner1.avif' %}" alt="">
              <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(6, 3, 21, .5);">
                  <div class="container">
                      <div class="row justify-content-start">
                          <div class="col-10 col-lg-8">
                              
                              <h1 class="display-3 text-white animated slideInDown mb-4">TECHNOLOGY<span class="text-primary">ENVIRONMENT</span> SOCIETY</h1>
                              
                              <button  class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">
                                <a href="{% url 'photo:subscribe'%}"  class="">
                                  Get Updates
                                </a>
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Carousel End -->





    <!-- About Start -->
    <div class="container-fluid overflow-hidden py-5 px-lg-0">
      <div class="container about py-5 px-lg-0">
          <div class="row g-5 mx-lg-0">
              <div class="col-lg-6 ps-lg-0 wow fadeInLeft" data-wow-delay="0.1s" style="min-height: 400px;">
                  <div class="position-relative h-100">
                      <img class="position-absolute img-fluid w-100 h-100" src="{% static 'IMG_3274.JPG' %}" style="object-fit: cover;" alt="">
                  </div>
              </div>
              <div class="col-lg-6 about-text wow fadeInUp" data-wow-delay="0.3s">
                  <h6 class="text-secondary text-uppercase mb-3"></h6>

                  <h1 class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl py-10 text-center" style="font-size: 30px;">
                    <mark class="px-2 text-white bg-red-600 rounded dark:bg-red-500 ">OUR STORY</mark>
                  </h1>
                  
                                    <p class="mb-5">"Drawing wisdom from Mahatma Gandhi's insightful words, 'The best way to find yourself is to lose yourself in the service of others,' we are resolutely committed to forging an equitable and harmonious world that stands the test of time. The formidable repercussions of climate change imperil us all due to our heedless exploitation and human-induced degradation of precious natural resources.

                    A staggering 24% of global fatalities stem from the consequences of environmental degradation, encompassing a distressing 28% of mortality among children under five. Consequently, immediate collective action from stakeholders is imperative to reinstate the well-being of both humanity and the ecosystem. Within the folds of the Technology Environment Society, we ardently labor to cultivate an equitable and sustainable society, meticulously addressing every facet of sustainability—be it environmental, social, or economic. Yet, a recurrent fallacy persists whenever the topic of sustainability arises: the notion that economic progress and environmental preservation are incompatible. In truth, a delicate balance must be struck amongst these three pillars of sustainability. Our aspirations for this symbiotic synergy encompass the embracement of education, empowerment, and egalitarianism, fostering robust health and adaptability in our 'ONLY HOME.'
                    
                    Our Vision
                    Embarking on a trajectory toward an impartial and sustainable society // Envisioning a future where equity and sustainability intertwine."
                  </p>
                  <div class="row g-4 mb-5">
                      <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                          <i class="fa fa-globe fa-3x text-primary mb-3"></i>
                          <h5>Global Coverage</h5>
                          <p class="m-0">Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam justo.</p>
                      </div>
                      <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                          <i class="fa fa-shipping-fast fa-3x text-primary mb-3"></i>
                          <h5>On Time Delivery</h5>
                          <p class="m-0">Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam lorem diam justo.</p>
                      </div>
                  </div>
                  <a href="" class="btn btn-primary py-3 px-5">Explore More</a>
              </div>
          </div>
      </div>
  </div>
  <!-- About End -->







    <!-- Service Start -->
    <div id = "Events" class="container-xxl py-5">
      <div class="container py-5">
          <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
              
            <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 ">Our <span class="text-blue-600 dark:text-blue-500">Events</span></h1>


          </div>
          <div class="row g-4">
            {% for photo in photos|slice:":3" %}

              <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                  <div class="service-item p-4">
                      <div class="overflow-hidden mb-4">
                          <img class="img-fluid" src="{% if photo.image %}{{ photo.image.url }}{% else %}{% static 'ftp/logo.png' %}{% endif %}" alt="">
                      </div>
                      <h4 class="mb-3">{{ photo.title }}</h4>
                      <p>{{ photo.description|truncatewords:15 }}</p>
                      <a class="btn-slide mt-2" href="{% url 'photo:detail' photo.id %}" ><i class="fa fa-arrow-right"></i><span>Read More</span></a>
                  </div>
              </div>
              {% endfor %}
          </div>
      </div>
  </div>
  <!-- Service End -->

  


  
  <h1 class="mb-4 text-4xl text-center font-extrabold leading-none tracking-tight text-gray-900 ">OUR <span class="text-blue-600 dark:text-blue-500">IMPACT</span></h1>

    <div class="relative p-7">
      <img class="object-contain w-full h-59 sm:h-59" src="https://img.freepik.com/premium-photo/landscape-long-banner-panorama-blue-lake-summer-europe-nature-background_362376-331.jpg?w=2000" alt="" />
    </div>
  

    
  <h1 class="mb-4 text-4xl  text-center font-extrabold leading-none tracking-tight text-gray-900 ">MAGAZINES <span class="text-blue-600 dark:text-blue-500">ARTICLE'S</span></h1>


  {% comment %} <div class="row-container">
    {% for file in files|slice:":4" %}
    <section>
      <div class="mx-auto flex w-80 flex-col justify-center bg-white rounded-2xl shadow-xl shadow-gray-400/20 image-container">
        <!-- Display file details -->
        <h1 class="text-2xl font-medium text-gray-700 pb-2">{{ file.file_title }}</h1>
        <p class="text text-gray-500 leading-6 truncate-2-lines">{{ file.file_description }}</p>
  
        <!-- Display file link -->
        <a href="{{ file.file.url }}" class="">
          <img class="aspect-video w-90 rounded-t-2xl object-cover object-center" src="{{ file.file_thumbnail.url }}">
        </a>
      </div>
    </section>
    {% endfor %}
  </div> {% endcomment %}

  
  {% for file in files|slice:":2" %}
  <div class="space-y-8 px-5 pb-10 lg:divide-y lg:divide-gray-100">
    <a href="{{ file.file.url }}" class="">
      <div class="pt-8 sm:flex lg:items-end group">
        <div class="flex-shrink-0 mb-4 sm:mb-0 sm:mr-4">
          <img class="w-full rounded-md h-32 lg:w-60 object-cover" src="{{ file.file_thumbnail.url }}" alt="text">
        </div>
        <div class="flex flex-col h-full">
          <span class="text-sm text-gray-500">{{ file.file_created }}</span>
          <p class="mt-3 text-lg font-medium leading-6">
            <a href="{{ file.file.url }}" class="text-xl text-gray-800 group-hover:text-gray-500 lg:text-2xl">{{ file.file_title }}</a>
          </p>
          <p class="mt-2 text-lg text-gray-500">{{ file.file_description }}</p>
        </div>
      </div>
    </a>
  </div>
  
    {% endfor %}














  <div id ="team-section" class="container-xxl py-5">
    <div class="container py-5">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 ">OUR <span class="text-blue-600 dark:text-blue-500">TEAM</span></h1>

        </div>
        <div class="row g-4 p-5 ">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
              <div class="team-item p-4">
                <div class="overflow-hidden mb-4">
                    <img class="img-fluid" src="https://media.licdn.com/dms/image/D4D03AQF-2Ed-zjHZFg/profile-displayphoto-shrink_400_400/0/1692660953796?e=1698278400&v=beta&t=G4ZJ0O1826kbWOB_XG_ilGL5m6XKV3jP9j2Gq8MYHWo" alt="">
                </div>
                <h5 class="mb-0">RAJVARDHAN SINGH JADON</h5>
                <p>GOVERNOR</p>
                <div class="btn-slide mt-1">
                    <i class="fa fa-share"></i>
                    <span>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.linkedin.com/in/rajvardhan-singh-jadon-a580781a0/"><i class="fab fa-linkedin"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </span>
                </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
              <div class="team-item p-4">
                <div class="overflow-hidden mb-4">
                    <img class="img-fluid" src="https://media.licdn.com/dms/image/D5603AQHEVQDyH61D2g/profile-displayphoto-shrink_400_400/0/1670048053250?e=1698278400&v=beta&t=1jPXnkAIz2a08aA7rvNNr4P1yNItQUuvrN4GFJBwr58" alt="">
                </div>
                <h5 class="mb-0">BHUPESH VERMA</h5>
                <p>GOVERNOR</p>
                <div class="btn-slide mt-1">
                    <i class="fa fa-share"></i>
                    <span>
                        <a href="https://www.facebook.com/bhupesh.vermaa"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.linkedin.com/in/bhupeshvermaa10/"><i class="fab fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/bhupeshvermaa/"><i class="fab fa-instagram"></i></a>
                    </span>
                </div>
            </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
              <div class="team-item p-4">
                <div class="overflow-hidden mb-4">
                    <img class="img-fluid" src="https://scontent.fmaa8-1.fna.fbcdn.net/v/t1.6435-1/96683212_1684467671700449_2888170631008878592_n.jpg?stp=dst-jpg_s320x320&_nc_cat=101&ccb=1-7&_nc_sid=7206a8&_nc_ohc=H6Wh9v6ITzAAX_p4q7e&_nc_ht=scontent.fmaa8-1.fna&oh=00_AfDhvpxZiyO9ED9T1CTocjbb6r2CnnXxyqm-X1WGiy_j3w&oe=6509B1FF" alt="">
                </div>
                <h5 class="mb-0">PUJA DEY</h5>
                <p>GOVERNOR</p>
                <div class="btn-slide mt-1">
                    <i class="fa fa-share"></i>
                    <span>
                        <a href="https://www.facebook.com/puja.dey.7564"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.linkedin.com/in/puja-dey-2812abb6/"><i class="fab fa-linkedin"></i></a>
                        <a href="https://www.instagram.com/puja_dey94/"><i class="fab fa-instagram"></i></a>
                    </span>
                </div>
            </div>
            </div>
        </div>
        <div class="row g-4 p-5 ">
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
            <div class="team-item p-4">
              <div class="overflow-hidden mb-4">
                  <img class="img-fluid" src="https://media.licdn.com/dms/image/D5603AQF2051cV5uuew/profile-displayphoto-shrink_800_800/0/1672238364766?e=1698278400&v=beta&t=Sjhvq087FmdQRVk6BILA22B_jR4fMNYnSDqufFGez8M"  alt="">
              </div>
              <h5 class="mb-0">ABHISHEK SINGH MAURYA</h5>
              <p>DEVELOPMENT HEAD</p>
              <div class="btn-slide mt-1">
                  <i class="fa fa-share"></i>
                  <span>
                      <a href="https://www.facebook.com/abhimaurya0001"><i class="fab fa-facebook-f"></i></a>
                      <a href="https://www.linkedin.com/in/abhishek-singh-maurya-621911217/"><i class="fab fa-linkedin"></i></a>
                      <a href="https://www.instagram.com/abhishekmaurya3053/"><i class="fab fa-instagram"></i></a>
                  </span>
              </div>
          </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
            <div class="team-item p-4">
              <div class="overflow-hidden mb-4">
                  <img class="img-fluid" src="https://media.licdn.com/dms/image/D4D03AQE3Bayq1TiMlA/profile-displayphoto-shrink_800_800/0/1691683778148?e=1698278400&v=beta&t=OUqwNFyiKdyEbkB3JLTJ942Fknk_7Ig2JV2XQXrGdeE" alt="">
              </div>
              <h5 class="mb-0">KOUSHAL MUJALDE</h5>
              <p>DESIGN HEAD</p>
              <div class="btn-slide mt-1">
                  <i class="fa fa-share"></i>
                  <span>
                      <a href="https://www.facebook.com/shivam.bhalse.9862"><i class="fab fa-facebook-f"></i></a>
                      <a href="https://www.linkedin.com/in/koushal-mujalde-284aa222b/"><i class="fab fa-linkedin"></i></a>
                      <a href=""><i class="fab fa-instagram"></i></a>
                  </span>
              </div>
          </div>
          </div>
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
            <div class="team-item p-4">
              <div class="overflow-hidden mb-4">
                  <img class="img-fluid" src="https://media.licdn.com/dms/image/C5603AQFgmOhJzA-0wA/profile-displayphoto-shrink_800_800/0/1609663283698?e=1698278400&v=beta&t=cp45O5HKSu6XJG6bgjVMXvSNVRNYX1nOiuw7ESpwNtQ"  alt="">
              </div>
              <h5 class="mb-0">ATREYEE DEY</h5>
              <p>DESIGN HEAD</p>
              <div class="btn-slide mt-1">
                  <i class="fa fa-share"></i>
                  <span>
                      <a href="https://www.facebook.com/atreyee.dey.12"><i class="fab fa-facebook-f"></i></a>
                      <a href="https://www.linkedin.com/in/atreyee-dey-05384415a/"><i class="fab fa-linkedin"></i></a>
                      <a href="https://www.instagram.com/atreyee_dey18/"><i class="fab fa-instagram"></i></a>
                  </span>
              </div>
          </div>
          </div>
      </div>
      <div class="row g-4 p-5 ">
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          <div class="team-item p-4">
            <div class="overflow-hidden mb-4">
                <img class="img-fluid" src="https://media.licdn.com/dms/image/D4D03AQHXEFeCrPtxAg/profile-displayphoto-shrink_400_400/0/1692358035631?e=1698278400&v=beta&t=oiq6RoFeJlnbfUtmeKqVKZKWtIYXw4OPtYZ_5jlNzfA" alt="">
            </div>
            <h5 class="mb-0">RAVI KATARIYA</h5>
            <p>TREE CENSUS HEAD</p>
            <div class="btn-slide mt-1">
                <i class="fa fa-share"></i>
                <span>
                    <a href="https://www.facebook.com/ravi.katariya.4"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.linkedin.com/in/ravi-katariya-576a45217/" ><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/rviii_04/"><i class="fab fa-instagram"></i></a>
                </span>
            </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
          <div class="team-item p-4">
            <div class="overflow-hidden mb-4">
                <img class="img-fluid" src="https://media.licdn.com/dms/image/C5603AQEPW_vwD4amHQ/profile-displayphoto-shrink_400_400/0/1595069272010?e=1698278400&v=beta&t=qqhL6GmxwQrsYUWw2eQpV4TfxLpd4v4NRD-AhU83Ybg" alt="">
            </div>
            <h5 class="mb-0">AYUSHI DHAR</h5>
            <p>TREE CENSUS HEAD</p>
            <div class="btn-slide mt-1">
                <i class="fa fa-share"></i>
                <span>
                    <a href="https://www.facebook.com/ayushi.dhar.3"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.linkedin.com/in/ayushi-dhar/"><i class="fab fa-linkedin"></i></a>
                    <a  href="https://www.instagram.com/ayushi.rogue_one/"><i class="fab fa-instagram"></i></a>
                </span>
            </div>
        </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
          <div class="team-item p-4">
            <div class="overflow-hidden mb-4">
                <img class="img-fluid" src="https://media.licdn.com/dms/image/D5603AQGp1LclSmv4yQ/profile-displayphoto-shrink_400_400/0/1692642788563?e=1698278400&v=beta&t=tdbEh-2xhuuy0HkWX8IALH-52h3KewrYoBTfs7Gmvmg"  alt="">
            </div>
            <h5 class="mb-0">VINI MUJALDA</h5>
            <p>PR Head</p>
            <div class="btn-slide mt-1">
                <i class="fa fa-share"></i>
                <span>
                    <a href="https://www.facebook.com/vinit.muzalda.1"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.linkedin.com/in/vinit-muzalda-039129216/"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/the_vinit_muzalda/" ><i class="fab fa-instagram"></i></a>
                </span>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>






  
    <!-- Testimonial Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
      <div class="container py-5">
          <div class="text-center">
              <h4 class="text-secondary text-uppercase">Testimonial</h4>
              <h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 ">Our Patrons & Mentors
              </span></h1>

          </div>
          <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
              <div class="testimonial-item p-4 my-5">
                  <i class="fa fa-quote-right fa-3x text-light position-absolute top-0 end-0 mt-n3 me-4"></i>
                  <div class="d-flex align-items-end mb-4">
                      <img class="img-fluid flex-shrink-0" src="{% static 'testimonials/drsunil.jpg' %}" style="width: 80px; height: 80px;">
                      <div class="ms-4">
                          <h4 class="mb-1">Dr. Saamdu Chetri</h4>
                          <p class="m-0">Professor at IIT Kharagpur; Former Joint Secretary at Prime Minister’s Office, Bhutan;</p>
                      </div>
                  </div>
                  <p class="mb-0">" I commended the work of the Vision Prabaho (VP) directed for saving the planet earth for the wellbeing of the human race. A young and dedicate group of students from IIT Kharagpur has launched this program, the VP. I have taken part in a few of their events and have fallen in love with their attitude and the efforts they put to enlivening the planet earth with a humble beginning. They can change the world stage if we can support them. I wish them more energy and light to live up with their vision. ”</p>
              </div>
              <div class="testimonial-item p-4 my-5">
                  <i class="fa fa-quote-right fa-3x text-light position-absolute top-0 end-0 mt-n3 me-4"></i>
                  <div class="d-flex align-items-end mb-4">
                      <img class="img-fluid flex-shrink-0" src="{% static 'testimonials/barnali.jpg' %}" style="width: 80px; height: 80px;">
                      <div class="ms-4">
                          <h5 class="mb-1">Ms. Barnali Chakrabarti
                          </h5>
                          <p class="m-0">Botanist and Environmental evangelist

                          </p>
                      </div>
                  </div>
                  <p class="mb-0">"I have closely worked with members of Vision Prabaho. They are group of really dedicated ones believing in better sustainable environment and side by side working for better living for the marginalized ones. All the members are dedicated and honest and have a clear vision of what needs to be done. I do hope to and looking forward to work closely with them and help in their endeavours. ”</p>
              </div>
              <div class="testimonial-item p-4 my-5">
                  <i class="fa fa-quote-right fa-3x text-light position-absolute top-0 end-0 mt-n3 me-4"></i>
                  <div class="d-flex align-items-end mb-4">
                      <img class="img-fluid flex-shrink-0" src="{% static 'testimonials/ppc.jpg' %}" style="width: 80px; height: 80px;">
                      <div class="ms-4">
                          <h5 class="mb-1">Dr. Partha Pratim Chakrabarti
                          </h5>
                          <p class="m-0">Shanti Swarup Bhatnagar Awardee; Professor at IIT Kharagpur; Former Director at IIT Kharagpur; Mentor Director at IIIT Kalyani</p>
                      </div>
                  </div>
                  <p class="mb-0">“ I am deeply impressed by the passion, mission, effort, execution and sustained thoughtful work of Team Vision Prabaho, whom I have known for many years. They have taken up the most ideal activity applicable today from students – that of combining science, technology, ecology and community participation for a sustainable planet. Their work covering all angles from awareness to participatory implementation has yielded real benefits both in the mind of people as well as on the ground. They are a group who can help bring about transformation and I strongly recommend all well-wishers to support them as many of us are doing. I wish them more energy and power to live up to their vision and dream for a better planet. ”

                  </p>
              </div>
              <div class="testimonial-item p-4 my-5">
                  <i class="fa fa-quote-right fa-3x text-light position-absolute top-0 end-0 mt-n3 me-4"></i>
                  <div class="d-flex align-items-end mb-4">
                      <img class="img-fluid flex-shrink-0" src="{% static 'testimonials/4.jpg' %}" style="width: 80px; height: 80px;">
                      <div class="ms-4">
                          <h5 class="mb-1">Honorable Former Justice Nadira Patherya
                          </h5>
                          <p class="m-0">Calcutta High Court

                          </p>
                      </div>
                  </div>
                  <p class="mb-0">“ I was invited by the organisation to IIT Kharagpur and was very impressed by the kind of work that the organisation was being done. Hope this kind of work is carried on so that the environment is eco-friendly and carbon dioxide is lessened in the air while oxygen helps us to breathe. Kudos to Vision Prabaho.”

                  </p>
              </div>
          </div>
      </div>
  </div>
  <!-- Testimonial End -->


















  <script>
    // Smooth scroll with sliding effect
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
      anchor.addEventListener('click', function (e) {
        e.preventDefault();
  
        const target = document.querySelector(this.getAttribute('href'));
        const topOffset = target.getBoundingClientRect().top + window.pageYOffset;
        const duration = 800; // Adjust the duration as desired
  
        window.scrollTo({
          top: topOffset,
          behavior: 'smooth'
        });
      });
    });
  </script>

  <section id="contact"class="text-gray-600 body-font relative">
    <div class="absolute inset-0">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14764.127294358095!2d87.29959484835966!3d22.31463617571661!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1d44031d91072d%3A0x750e832f90176385!2sIIT%20Kharagpur%2C%20Kharagpur%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1691771513483!5m2!1sen!2sin"
        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" style="width: 100%; height: 100%;"></iframe>
    </div>
    <div class="container px-5 py-24 mx-auto flex">

      <div class="lg:w-1/3 md:w-1/2 bg-white rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0 relative z-10 shadow-md">
        <h2 class="text-4xl text-center py-2  dark:text-black">Contact Us</h2>

        {% if success_message %}
        <p class="success-message">{{ success_message }}</p>
        {% endif %}
        <div class="relative mb-4">

    <form method="post"  action="{% url 'photo:contact' %}" >

          <label for="name" class="leading-7 text-sm text-gray-600">Name</label>
          <input type="text" id="name" name="name" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
        </div>
        <div class="relative mb-4">
          {% csrf_token %}
          {{form.as_p}}
          <label for="message" class="leading-7 text-sm text-gray-600">Message</label>
          <textarea id="message" name="message" class="w-full bg-white rounded border border-gray-300 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
        </div>
        <button type="submit" class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Button</button>

    </form>

        <p class="text-xs text-gray-500 mt-3">Chicharrones blog helvetica normcore iceland tousled brook viral artisan.</p>
      </div>
    </div>
  </section>
      <!-- Footer Start -->
      <div class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s" style="margin-top: 6rem;">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Address</h4>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Services</h4>
                    <a class="btn btn-link" href="">Air Freight</a>
                    <a class="btn btn-link" href="">Sea Freight</a>
                    <a class="btn btn-link" href="">Road Freight</a>
                    <a class="btn btn-link" href="">Logistic Solutions</a>
                    <a class="btn btn-link" href="">Industry solutions</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Quick Links</h4>
                    <a class="btn btn-link" href="">About Us</a>
                    <a class="btn btn-link" href="">Contact Us</a>
                    <a class="btn btn-link" href="">Our Services</a>
                    <a class="btn btn-link" href="">Terms & Condition</a>
                    <a class="btn btn-link" href="">Support</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h4 class="text-light mb-4">Newsletter</h4>
                    <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                        <button type="button" class="btn btn-primary py-2 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">Your Site Name</a>, All Right Reserved.
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-0 back-to-top"><i class="bi bi-arrow-up"></i></a>


  



{% endblock body %}